{% extends "_layouts/main" %}

{% block main %}

	<section class="splash">
		<div class="container">
			<h1>Error 404</h1>
		</div>
	</section>

	<section class="singlepost pad notop">
		<div class="container">
			<h2>Page not found</h2>

			<p>Sorry! The URL you've followed doesn't seem to exist any more. If you're looking for something in particular please feel free to tweet <a href="https://twitter.com/intent/follow?screen_name=fraserboag">@fraserboag</a>, or email <a href="mailto:fraser.boag@gmail.com">fraser.boag@gmail.com</a> and I'll see if I can help.</p>

			<p>If you're just rambling around, maybe one of my latest <a href="/blog">blog posts</a> will interest you?</p>
		</div>
	</section>

{% endblock %}