footer
    border-left: 20px solid transparent
    border-right: 20px solid $black
    position: relative
    overflow: hidden

    .container
        justify-content: center
        .col
            display: flex
            flex-direction: row
            align-items: center
            flex-basis: initial
            margin: 0 60px

    p
        margin-top: 0
        position: relative
        line-height: 1.6

        .copynotification
            position: absolute
            left: 0
            top: 100%
            opacity: 0
            font-size: 16px
            -webkit-transform: translateX(30px)
            transform: translateX(30px)
            -webkit-transition: $short-transition
            transition: $short-transition
        .copynotification.visible
            opacity: 0.3
            -webkit-transform: translateX(0)
            transform: translateX(0)

        a
            font-weight: 400
            opacity: 0.5

            img
                position: absolute
                width: 15px
                left: calc(100% + 8px)
                top: 6px
                opacity: 0.5

        a:after
            background: $highlight

    h3
        font-weight: 500
        line-height: 1
        margin-right: 20px

    .social
        a
            width: 20px
            display: inline-block
            margin-right: 20px
            opacity: 0.5
            img
                pointer-events: none
        a:last-child
            margin-right: 0

    .copyemail .hovereffect
        display: block
        position: absolute
        bottom: 0
        left: 0
        height: 3px
        width: 100%
        background: transparentize($highlight, 0.5)
        z-index: -1

    .copyemailinput
        opacity: 0
        position: absolute
        pointer-events: none

    .container .col:last-child
        margin-left: 0


@media (max-width: 900px)
    footer
        border: 0


@media (max-width: 750px)
    footer
        .container
            .col
                margin: 0
                display: flex
                flex-direction: row
                justify-content: center
                margin-bottom: 20px
            .col:first-child
                margin-bottom: 0
        .row
            flex-direction: column-reverse


@media (max-width: 400px)
    footer
        h3
            margin-right: 15px
        .social
            a
                margin-right: 14px