@import partials/reset
@import partials/fonts
@import partials/variables
@import partials/header
@import partials/footer
@import partials/section-splash
@import partials/section-about
@import partials/section-latestnotes
@import partials/section-newsletter
@import partials/section-single
@import partials/section-projects

body, input, textarea
    font-family: $sans
    color: $black
    line-height: 1.7
    font-size: 21px
    font-weight: 400
    background: $white
    text-size-adjust: none

body
    position: relative
    > div
        overflow: hidden

*::selection
    background: $black
    color: $white

*:not(h2):not(h3):not(.projectlink) + p
    margin-top: 30px
    
p
    a
        color: $black
        position: relative
        white-space: nowrap
        .hovereffect
            display: block
            position: absolute
            bottom: 0
            left: 0
            height: 3px
            width: 100%
            background: $white
            z-index: -1

    strong
        font-weight: 500

    em
        font-style: italic

a
    text-decoration: none
    color: $black

img
    display: block
    width: 100%

h2
    font-family: $sans
    font-weight: 500
    font-size: 31px
    line-height: 1.3
    position: relative
    margin-bottom: 10px
    letter-spacing: -0.1rem
    
    a
        color: $black

    img
        max-width: 27px
        display: inline-block
        vertical-align: middle
        margin-right: 10px
        position: relative

    img.bumpsmall
        top: -1px

    img.bumpbig
        top: -3px

.container
    width: 85%
    max-width: 1050px
    margin: 0 auto
    flex-direction: column
    position: relative
    z-index: 2

    .col
        flex-basis: 100%

    .col + .col
        margin-left: 100px

.container.full-width
    width: 100%
    max-width: 100%

.pad
    padding: 100px 0

.pad.notop
    padding-top: 0

.pad.lessbot
    padding-bottom: 40px

.row
    display: flex
    flex-direction: row

@media (max-width: 900px)

    .pad
        padding: 85px 0

@media (max-width: 600px)

    body
        font-size: 20px

    .container
        width: 90%

    .pad
        padding: 70px 0

    h2
        font-size: 28px

@media (max-width: 400px)

    body
        font-size: 19px

    .pad
        padding: 60px 0